.drum-pads {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.App {
  display: flex;
  justify-content: center;
  margin-top: 30vh;
}

.drum-pad {
  border: 2px solid black;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
